#header {
	width:100%;
	height:200px;
	overflow: auto;
	overflow-x:hidden;
}
#head {
	width:1000px;
	height:200px;
	margin:0 auto;
	background:url(zcjs_headbg.jpg) no-repeat;
}
.site_home {
	width:100%;
	height:75px;
	line-height:24px;
	text-align:right;
	color:#fff;
}
#logo {
	float:left;
	width:334px;
	height:68px;
	background:url(zcjs_logo.png) no-repeat;
	display:block;
	margin-left:50px;
}
#logo:hover {
	background:url(zcjs_logo.png) -336px 0px no-repeat;
}
#nav {
	width:1000px;
	height:36px;
	background:#616161;
	margin:0 auto;
}
.nav_center {
	width:1000px;
	height:36px;
	margin:0 auto;
	font-family:"Microsoft YaHei"
}
.nav_center ul li {
	float:left;
	width:111px;
	height:36px;
}
.nav_center ul li a {
	width:111px;
	height:36px;
	color:#fff;
	font-family:"Microsoft YaHei";
	font-size:16px;
	text-align:center;
	display:block;
}
.nav_center ul li a span {
	float:right;
	width:110px;
	height:20px;
	line-height:20px;
	margin-top:7px;
	border-right:solid 1px #fff;
}
.nav_center ul li a:hover {
	background:#fff;
	color:#005dab;
	margin-left:-1px;
	text-indent:1px;
}
#footer {
	margin:0 auto;
	clear:both;
	width:1000px;
	height:100px;
	background:#252525;
	color:#FAFAFA;
}
.foot_left {
float: left;
width: 1000px;
padding: 40px 0 0 400px;
}

.foot_right a {
	color:#818181;
}
/* end public css */

/* start index css */
#main {
	width:1000px;
	height:800px;
	margin:0 auto;
	background:#fff;
}
#main2 {
	width:1000px;
	height:auto;
	margin:0 auto;
	background:#fff;
}
.main_top {
	width:960px;
	height:750px;
	padding:0 20px;
	background:#fff;
}
.top_left {
	float:left;
	width:336px;
	height:488px;
	padding-top:13px;
	margin-bottom:2px;
}
/* ==start 闁哄鍎愰崰妤呭箰闁秴鐐婇柨鐕傛嫹 */
#wheel {
	float:left;
	width:336px;
	height:262px;
	position:relative;
}
.wheel_upbg {
	position:absolute;
	bottom:0;
	z-index:100;
	width:336px;
	height:37px;
	background:#383838;
	line-height:37px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fff;
	text-align:center;
}
#wheel ul .on {
	height:10px;
	width:10px;
	margin-right:4px;
	float:left;
	z-index:5;
}
#wheel ul li {
	display:block;
	height:10px;
	width:10px;
	float:left;
	margin-right:4px;
	cursor:pointer;
}
#wheel_list {
	width:336px;
	height:262px;
	float:left;
	position:absolute;
	z-index:1;
	left:0;
	top:0;
}
/* ==end 闁哄鍎愰崰妤呭箰闁秴鐐婇柨鐕傛嫹 */

#zhengce,#eye ,#wenhua,#zhuanjia{
	float:left;
	width:336px;
	height:205px;
	margin-top:15px;
}
#zhengce .zc_tit {
	float:left;
	width:336px;
	height:31px;
	background:url(zcjs_titbg.jpg) 0px -62px no-repeat;
	line-height:26px;
}
#zhengce .dx_tit {
	float:left;
	width:336px;
	height:31px;
	background:url(zcjs_zjsd.jpg) no-repeat;
	line-height:26px;
}
#zhengce .js_tit {
	float:left;
	width:336px;
	height:31px;
	background:url(zcjs_jsgy.jpg) no-repeat;
	line-height:26px;
}
#zhengce .more,#job .more,#eye .more {
	float:right;
	color:#383838;
	padding-right:5px;
}
.zhence_list,.job_list,.eye_list {
	float:left;
	width:326px;
	height:164px;
	padding:4px 0 0 10px;
	background:#f8f8f8;
	margin-top:6px;
}
.zhence_list ul li,.job_list ul li,.eye_list ul li {
	float:left;
	width:300px;
	height:1.25em;
	padding:10px 0 0 18px;
	background:url(zcjs_zc_ico.jpg) 0px 15px no-repeat;
	overflow:hidden;
}
.zhence_word,.job_word,.eye_word {
	float:left;
	width:255px_;
	width:245px;
	height:1.25em;
	overflow:hidden;
}
.zhence_list ul li a,.job_list ul li a,.eye_list ul li a,.notc_list ul li a {
	color:#535353;
}
.zhence_list ul li a:hover,.job_list ul li a:hover,.eye_list ul li a:hover,.notc_list ul li a:hover {
	color:#009fab;
}
.zhence_time {
	float:right;
	text-align:right;
}

#zhengce .zc_tit {
	float:left;
	width:336px;
	height:31px;
	background:url(zcjs_titbg.jpg) 0px -62px no-repeat;
	line-height:26px;
}
#zhengce .more,#job .more,#eye .more {
	float:right;
	color:#383838;
	padding-right:5px;
}
.zhence_list,.job_list,.eye_list {
	float:left;
	width:326px;
	height:164px;
	padding:4px 0 0 10px;
	background:#f8f8f8;
	margin-top:6px;
}
.zhence_list ul li,.job_list ul li,.eye_list ul li {
	float:left;
	width:300px;
	height:1.25em;
	padding:10px 0 0 18px;
	background:url(zcjs_zc_ico.jpg) 0px 15px no-repeat;
	overflow:hidden;
}
.zhence_word,.job_word,.eye_word {
	float:left;
	width:255px_;
	width:245px;
	height:1.25em;
	overflow:hidden;
}
.zhence_list ul li a,.job_list ul li a,.eye_list ul li a,.notc_list ul li a {
	color:#535353;
}
.zhence_list ul li a:hover,.job_list ul li a:hover,.eye_list ul li a:hover,.notc_list ul li a:hover {
	color:#009fab;
}
.zhence_time {
	float:right;
	text-align:right;
}


/* start main_center */
.main_center {
	float:left;
	width:382px;
	height:auto;
	margin-left:21px;
	padding-top:21px;
	display:inline;
}
#job {
	float:left;
	width:382px;
	height:254px;
}
.job_tit {
	float:left;
	width:382px;
	height:31px;
	line-height:26px;
	background:url(zcjs_titbg.jpg) 0px -124px no-repeat;
}
.job_list {
	width:372px;
	height:213px;
}
.job_list ul li {
	width:346px;
}
.job_word {
	width:272px;
	_width:262px;
}
#eye {
	width:382px;
}
.eye_tit {
	float:left;
	width:382px;
	height:31px;
	background:url(zcjs_jsgy.jpg) no-repeat;
	line-height:26px;
}
.xn_tit {
	float:left;
	width:382px;
	height:31px;
	background:url(zcjs_xngz.jpg) no-repeat;
	line-height:26px;
}
.eye_list {
	width:372px;
}
.eye_list ul li {
	width:346px;
}
.eye_word {
	width:272px;
}
/* start main_right */
.main_right {
	float:right;
	width:198px;
	height:auto;
	padding-top:21px;
}
#notice {
	float:left;
	width:198px;
	height:253px;
	background:url(zcjs_noticbg.jpg) 0 247px no-repeat;
}
#notice .more {
	float:right;
	color:#383838;
	padding-right:3px;
}

#hisstone {
	float:left;
	width:198px;
	height:205x;
	background:url(zcjs_hisstone.jpg) no-repeat;
}
#hisstone .more {
	float:right;
	color:#383838;
	padding-right:3px;
}

#daxue {
	margin-top:14px;
	float:left;
	width:198px;
	height:225x;
	background:url(zcjs_dxwh.jpg) no-repeat;
}
.stone_tit {
	float:left;
	width:198px;
	height:29px;
	line-height:30px;
}

.daxue_tit {
	float:left;
	width:198px;
	height:29px;
	line-height:30px;
}
#daxue .more {
	float:right;
	color:#383838;
	padding-right:3px;
}

.not_tit {
	float:left;
	width:198px;
	height:29px;
	line-height:30px;
	background: url(zcjs_titbg.jpg) no-repeat;
}

.notc_list {
	float:left;
	width:198px;
	height:175px;
	padding:4px 0 0 0;
}
.notc_list ul li {
	float:left;
	width:184px;
	height:1.25em;
	padding:10px 0 0 14px;
	background:url(zcjs_not_ico.jpg) 0px 16px no-repeat;
	overflow:hidden;
}


.stone_list {
	float:left;
	width:198px;
	height:190px;
	padding:4px 0 0 0;
}
.stone_list ul li {
	float:left;
	width:184px;
	height:1.25em;
	padding:10px 0 0 14px;
	background:url(zcjs_not_ico.jpg) 0px 16px no-repeat;
	overflow:hidden;
}

/* start main_down */
#main_down {
	float:left;
	width:1000px;
	height:50px;
	background:url(zcjs_linkbg1.jpg) no-repeat;
}
#language {
	width:230px;
	float:right;
	height:19px;
	margin:2px 54px 0 0;
	background:#ddd;
	display:inline;
}
#language .bor {
	z-index:5;
	margin:0px;
	float:left;
	height:17px;
	line-height:20px;
	width:276px;
	padding:0 0 0 8px;
	position:relative;
	background:#ddd;
}
#span1 {
	float:left;
}
#language .down {
	border:solid #B1B1B1 1px;
	min-height:40px;
	position:absolute;
	border-top:none;
	top:18px;
	display:none;
	width:282px;
	background:#fff;
	left:0;
}
#language li ul li {
	z-index:5;
	margin:0px;
	float:left;
	padding:0 0 0 12px;
	height:16px;
	width:270px;
	line-height:16px;
}
#language li ul li:hover {
	background:#ddd;
}
#language li ul li a {
	color:#373737;
}
#language li ul li a:hover {
	color:#016bc7;
}
#LanguageImage {
	float:right;
}
/* end main_down */

/* start column */

#column_main {
	width:auto;
	margin:0 auto;
}
.column_top {
	width:1000px;
	height:36px;
	line-height:36px;
	color:#939393;
	border-bottom:solid 1px #ececec;
}
#fwl {
	float:left;
	width:auto;
	padding-left:36px;
}
#date {
	float:right;
	width:auto;
	padding-right:6px;
}
.column_right {
	float:left;
	width:736px;
	height:auto;
}
.column01_sit {
	width:678px;
	height:38px;
	line-height:38px;
	padding-left:58px;
	border-bottom:solid 1px #424242;
	background:url(zcjs_sitebg.jpg) 10px 8px no-repeat;
	color:#333;
	font-size:14px;
	font-weight:bold
}
.column01_sit a {
	color:#333;
}
.column01_sit a:hover {
	color:#383838;
}
.column01_list {
	float:left;
	width:714px;
	height:auto;
	padding:4px 0 10px 20px;
	font-size:14px;
}
.column01_list ul li {
	float:left;
	width:700px;
	height:1.25em;
	padding:8px 0 0 14px;
	overflow:hidden;
	background:url(zcjs_not_ico.jpg) left 13px no-repeat;
}
.column01_list ul li a {
	float:left;
	color:#333;
	width:700px;
}
.column01_list ul li a:hover {
	float:left;
	color:#49aeeb;
}
.column_list_word {
	float:left;
	width:586px;
	height:1.25em;
	overflow:hidden;
}
.column_list_time {
	float:right;
	width:auto;
	height:1.25em;
	padding-right:6px;
}
#fenye {
	float:left;
	width:737px;
	text-align:center;
	color:#424242;
	background:#fff;
}
/* =end column_down_left*/

.column_down_right {
	float:right;
	width:252px;
	height:auto;
	margin:0px 0 11px 0;
}
#bestnews,#bestnotc {
	float:right;
	width:250px;
	height:394px;
	border:solid 1px #dadada;
}
#bestnotc {
	height:201px;
	margin-top:12px;
}
#bestnews h4,#bestnotc h4 {
	float:left;
	margin:0;
	padding:0;
}
#bestnews ul,#bestnotc ul {
	float:left;
	padding-top:8px;
}
#bestnews ul .yel_ico,#bestnews ul .blu_ico,#bestnotc ul .yel_ico,#bestnotc ul .blu_ico {
	float:left;
	width:206px;
	height:1.25em;
	padding:6px 0 0 38px;
	overflow:hidden;
	background:url(zcjs_col_ico01.jpg) 18px 10px no-repeat;
}
#bestnews ul .yel_ico a,#bestnews ul .blu_ico a,#bestnotc ul .yel_ico a,#bestnotc ul .blu_ico a {
	color:#333;
}
#bestnews ul .yel_ico a:hover,#bestnews ul .blu_ico a:hover,#bestnotc ul .yel_ico a:hover,#bestnotc ul .blu_ico a:hover {
	color:#49aeeb;
}
#bestnews ul .blu_ico,#bestnotc ul .blu_ico {
	background:url(zcjs_col_ico02.jpg) 18px 10px no-repeat;
}
/* =end column_down_right*/

/* start article */

.article_content {
	width:auto;
	height:auto;
	color:#333;
	background:#fff;
	padding:25px;
}
.article_tit {
	min-height:56px;
	padding:10px 0 10px 0;
	border-bottom:solid 1px #4E4E4E;
}
.article_tit h2 {
	float:left;
	width:100%;
	height:auto;
	font-family:"Microsoft YaHei";
	font-size:18px;
	text-align:center;
	margin-bottom:8px;
}
.tit_fu {
	width:100%;
	height:auto;
	text-align:center;
	color:#5c5c5c;
}
.article_word {
	float:left;
	height:auto;
	line-height:24px;
	padding-top:30px;
	font-size:14px;
	background:#fff;
}
.sp1 {
	float:left;
}
.sp2 {
	float:right
}
.tpimg img{width:320px;height:240px;}
#picnews-box{width:300px; height:250px; overflow:hidden; float:left; display:inline; margin:10px 0 0 8px;}
.pic-show-box{overflow:hidden; height:200px; width:300px; position:relative; margin-bottom:4px;}
.pic-item-box{width:10000px; position:relative;}
.pic-item-box a{float:left;}
.pic-item-box img{width:300px; height:200px;}
.txt-bg{position:absolute; bottom:0; background-color:#000; opacity:0.5; -moz-opacity:0.5; -webkit-opacity:0.5; filter:alpha(opacity=50); height:30px; width:300px;}
.txt-box{position:absolute; bottom:0;  text-align:center; height:30px; width:300px; overflow:hidden;}
.txt-box a{color:#fff; text-decoration:none; line-height:30px; display:none;}

.pic-icon-box{width:300px;}
.pic-icon-box div{float:left; display:inline; cursor:pointer; border:solid 1px #eee; padding:2px; margin-right:5px; opacity:0.5; -moz-opacity:0.5; -webkit-opacity:0.5; filter:alpha(opacity=50);}
.pic-icon-box div.active{border-color:#999; opacity:1; -moz-opacity:1; -webkit-opacity:1; filter:alpha(opacity=100);}
.pic-icon-box div img{width:43px; height:30px;}

#main_down ul{
margin-left:120px;
}

#main_down ul li{
float:left;
margin-right:10px;
margin-top:0px;
}
#main_down img{
width:110px;
height:40px;
}
.link a{
color:#333;
}
.link a:hover{
color:#444;
}