@charset "utf-8";
/* CSS Document */
div, form, img, ul, ol, li, dl, dt, dd, table, td, tr, th, p, span {
margin: 0;
padding: 0;
border: 0;
}
body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size:100%;}
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:courier new, courier, monospace; }
small { font-size:12px; }
ul, li{ list-style:none outside none;margin:0;padding:0;}
a{ text-decoration:none; cursor:pointer;}/*hand 只适用于ie!*/
fieldset,img{border:0;}
table {border-collapse:collapse;border-spacing:0;}
select {font-family:inherit;font-size:inherit;font-weight:inherit;}

body {font-family: Arial,宋体;margin:0;padding:0;font-size:12px;}

